@ charset "UTF-8";
.container{
    max-width: 960px;
    margin: 0 auto;
    background-color: #FBFE40;
    font-size: 24px;
    padding: 25px;
}
body {
    background-color: #4BC332;
}
p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    font-size: large;
}
.parallax{
    background: url("brad.png")no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax2{
    background: url("bradholding.png")no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax3{
    background: url("crossing.png")no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}
.parallax4{
    background: url("tacoma.png")no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax5{
    background: url("crash.png")no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}
